<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crypto App</title>

    <!--Libs-->
    <script src="libs/angular/angular.js"></script>
    <script src="libs/simplemde/dist/simplemde.min.js"></script>
    <script src="libs/simplemde-angular/dist/simplemde-angular.js"></script>
    <script src="libs/angular-file-saver/dist/angular-file-saver.js"></script>
    <script src="libs/angular-file-saver/dist/angular-file-saver.bundle.js"></script>


    <!--App-->
    <script src="app/index.js"></script>

    <link rel="stylesheet" href="libs/simplemde/dist/simplemde.min.css">
</head>
<body ng-app="CryptoApp">
    <div ng-controller="CryptoCtrl">
        <div style="width: 800px;">
            <textarea simplemde ng-model="text"></textarea>
        </div>
        <div>
            <button ng-click="download()">Create file</button>
        </div>
        <div>
            Select file to upload:
            <br>
            <input type="file" name="file" id="file" ng-model="file">
            <button ng-click="add()">Add</button>
        </div>

    </div>

</body>
</html>